[user]
	name = Marko Korhonen
	email = marko.korhonen@druid.fi
[core]
	autocrlf = input
[init]
	defaultBranch = main
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
