[user]
	name = Marko Korhonen
	email = marko.korhonen@druid.fi
[core]
	autocrlf = input
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://dev.azure.com"]
	helper = /usr/local/bin/git-credential-manager
	useHttpPath = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
