Host *
  ForwardAgent no
  ForwardX11 no
  ForwardX11Trusted yes

Host *.wod.by
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

Host fi1.compact.amazee.io
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
  #StrictHostKeyChecking no
  #UserKnownHostsFile=/dev/null

Host ssh.lagoon.amazeeio.cloud
  IdentityFile ~/.ssh/id_ed25519
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
