# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

#Host *
#  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host *.ineen.net
  User deployment

Host *.druidfi
  User deployment
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking=no

#Host *
#  ForwardAgent no
#  ForwardX11 no
#  ForwardX11Trusted yes
#  IgnoreUnknown UseKeychain
#  UseKeychain yes
#  AddKeysToAgent yes
#  IdentityFile ~/.ssh/id_ecdsa_sk
#  IdentityFile ~/.ssh/id_ed25519
#  IdentityFile ~/.ssh/id_rsa

Host github.com
  IdentityFile ~/.ssh/id_ed25519

Host *.wodby.cloud
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  ForwardAgent yes
  AddKeysToAgent yes

Host ssh.lagoon.amazeeio.cloud
  IdentityFile ~/.ssh/id_ed25519
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
