#Host *
#  ForwardAgent no
#  ForwardX11 no
#  ForwardX11Trusted yes
#  IgnoreUnknown UseKeychain
#  UseKeychain yes
#  AddKeysToAgent yes
#  IdentityFile ~/.ssh/id_ecdsa_sk
#  IdentityFile ~/.ssh/id_ed25519
#  IdentityFile ~/.ssh/id_rsa

Host github.com
  IdentityFile ~/.ssh/id_ed25519

Host *.wodby.cloud
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

Host ssh.lagoon.amazeeio.cloud
  IdentityFile ~/.ssh/id_ed25519
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
